@page "{id}"
@model ASP_project.Pages.DetailsModel
@{
} 
<h3>Details</h3>
 <hr />

 <form>
<input asp-for="c.id" type="hidden" />

<h4>First Name:</h4>
<h6>@Model.c.firstname</h6><br />

<h4>Last Name:</h4>
<h6>@Model.c.lastname</h6><br />

<h4>Nationality:</h4>
<h6>@Model.c.Nationality</h6><br />

<h4>date:</h4>
<h6>@Model.c.DateOfBirth</h6><br />

<h4>Gender:</h4>
<h6>@Model.c.Gender</h6><br />

<h4>Programming Skills:</h4>
<h6>@Model.c.Skills.Replace("I", " ")</h6><br />

<h4>Email:</h4>
<h6>@Model.c.Email</h6><br />

<h4>Grade:</h4>
<h6>@Model.c.grade</h6><br />


<h4>Photo:</h4>

<img src="~/photos/@Model.c.photo" alt="Photo" style="width:50%;height:50%;">

</form>